@import "@/shared/styles/_vars";

.oneHourPage {
    padding-top: rem(50);
    background-color: #F9F9F9;
    padding-bottom: rem(100);
}
.container {
    @include container();
}
.title {
    @include manrope(600);
    font-size: rem(40);
    color: $black;
    text-align: center;
    max-width: rem(625);
    margin: 0 auto;
    text-wrap: pretty;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(30);
    margin-top: rem(65);
}
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $black
}
.worker {
    @include manrope(600);
    font-size: rem(22);
    margin-bottom: rem(15);
}
.text {
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: rem(5);
}