@import "@/shared/styles/_vars";

.firstScreen {
  padding-bottom: rem(50);
}
.container {
  @include container();
  position: relative;
}
.title {
  margin-top: rem(100);
  font-size: rem(56);
  font-weight: 800;
  max-width: rem(700);
  cursor: text;
  line-height: 1.1;

  @media (max-width: $max-768) {
    font-size: rem(28);
  }
}
.string {
  display: flex;

  @media (max-width: $max-1000) {
    flex-direction: column;
    align-items: center;
    gap: rem(100);
  }
}
.subtitle {
  margin-top: rem(20);
  font-weight: 300;
  max-width: rem(700);
  line-height: 1.3;
  margin-bottom: rem(50);

  @media (max-width: $max-768) {
    font-size: rem(20);
  }
}
.redButton {
  padding: rem(18) rem(26);
  border-radius: rem(6);
  background-color: $pink;
  text-decoration: none;
  color: $gray100;
  font-size: rem(18);
  transition: 0.2s;

  &:hover {
    background-color: darken($pink, 10%);
  }
}
.advantages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: rem(30);
  margin-top: rem(60);
  border-bottom: rem(2) solid rgba(0, 0, 0, 0.1);

  @media (max-width: $max-900) {
    flex-direction: column;
    gap: rem(16);
    padding-bottom: rem(20);
  }
}
.advantage {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: rem(10);
  padding-bottom: rem(50);

  @media (max-width: $max-900) {
    padding-bottom: 0;
  }
}
.icon {
  width: rem(58);
  aspect-ratio: 1/1;
}
.text {
  text-align: center;
  font-size: rem(16);
  color: #000;
  cursor: text;
}
.image {
  max-width: rem(720);
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
