@import "@/shared/styles/_vars";

.getOrderPage {
    background-color: transparent;
    margin-top: rem(-330);
}
.getOrderModal {
    max-width: rem(1390);
    width: 100%;
    margin: 0 auto;
    background-color: $red500;
    height: 500px;
    padding: rem(80) rem(100);
    border-radius: rem(24);
}
.title {
    @include manrope(600);
    font-size: rem(43);
    color: $gray100;
}
.desc {
    @include manrope(300);
    font-size: rem(22);
    line-height: 1.5;
    color: #EEEEF1;
    margin-top: rem(4);
    max-width: rem(653);
}
.inputs {
    margin-top: rem(30);
    display: flex;
    align-items: center;
    gap: rem(10);
}
.inputWrapper {
    position: relative;
    max-width: rem(310);
    width: 100%;
}
.input {
    font-size: rem(18);
    color: #fff;
    background-color: rgba(237, 132, 136, .2);
    outline: none;
    border: none;
    padding: rem(22) rem(26);
    border-radius: rem(8);
    border: rem(1) solid rgba(251, 214, 212, 0.2);
    transition: .2s;
    width: 100%;
    height: rem(70);

    &:hover {
        background-color: rgba(237, 132, 136, .4);
    }

    &:focus {
        background-color: rgba(237, 132, 136, .5);
    }

    &::placeholder {
        opacity: .8;
    }
}
.submitButton {
    filter: drop-shadow(0 rem(12) rem(20) rgba(0, 0, 0, 0.25));
    background-color: $gray100;
    border-radius: rem(8);
    padding: rem(22) rem(40);
    color: $red500;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    outline: 0;
    transition: .2s;
    height: rem(70);

    &:hover {
        background-color: darken($gray100, 10%);
    }
}